/* header */
header {
    background-color: midnightblue;
    text-align: center;
}
.header-title {
    margin: auto;
}
.s1 {
    font-size: 40px;
    font-family: ;
}
.s2 {
    font-size: 20px;
    color: khaki;
}
.s3 {
    font-size: 25px;
}
.s4 {
    font-size: 30px
}

/* content */
.content {

}
/* menu */
.menu-list {
    background-color: gray;
    margin-left: 15px;
    margin-top: 15px;
}
ul {

}
li {
    margin-top: 10px;
    color: black inline;
}
/* main box */
.main-box {
    float: right;
}
.sub-box {

}
.sub-title {
    background-color: brown;
    margin-left: 15px;
}
.sub-content {
    margin-left: 15px;
}

/* footer */
footer {
    background-color: darkgray;
}
.copyright {
    margin-left: 15px;
}